<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pump</title>
</head>
<body>
<form action="/admin/pump/add" method="POST">
    <label>
        Название насоса
        <input type="text" name="pumpName" />
    </label>
    <br>
    <label>
        Цена
        <input type="number" name="price" />
    </label>
    <br>
    <label>
        Рейтинг насоса
        <input type="number" name="pumpRating" />
    </label>
    <br>
    <input type="submit" />
</form>

</body>
</html>