<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Pump</title>
</head>
<body>

<div th:if="${pump} == null">
    Pump not exist!
</div>

<div th:if="${pump} != null">
    <label th:text="${'Название: ' + ${pump.getPumpName()}}"/>
    <br>
    <label th:text="${'Цена: ' + ${pump.getPrice()}}"/>
    <br>
    <label th:text="${'Рейтинг: ' + ${pump.getPumpRating()}}"/>
    <br>

    <table>
        <tr>
            <td>Название</td>
            <td>Рейтинг магазина</td>
        </tr>
        <tr th:each="shop : ${pump.getShops()}">
            <td th:text="${shop.getShopName()}"/>
            <td th:text="${shop.getShopName()} == null ? 'Not enough info' :
                ${shop.getShopRating()}"/>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{'/admin/shop/' + ${shop.getShopId()} + '/edit'}" method="GET">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>