<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse:collapse
        }
        td, tr {
            padding: 5px;
            border: solid black 1px;
        }
        a:link {
            color: red;
        }

        /* visited link */
        a:visited {
            color: green;
        }

        /* mouse over link */
        a:hover {
            color: hotpink;
        }

        /* selected link */
        a:active {
            color: blue;
        }
    </style>
    <title>Catalog of shops</title>
</head>
<body>

<table>
    <tr>
        <td>Название</td>
        <td>Рейтинг</td>
    </tr>
    <tr th:each="shop : ${shopRepository}">
        <td>
            <a th:text="${shop.getShopName()}" th:href="@{'/shop?shopId=' + ${shop.getShopId()}}"/>
        </td>
        <td th:text="${shop.getShopRating()}"/>
    </tr>
</table>
<div>
    <a href="/">
        Назад
    </a> <br>
</div>

</body>
</html>